<footer>
    <div class="social-media-container">
      <h2>The web development framework for building the future!</h2>
  
      <ul>
        <li>
          <a href="https://www.youtube.com/watch?v=AbuQ3rXgrfg" target="blank">
            <i class="fab fa-youtube"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/Gmail" target="blank">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/gmail" target="blank">
            <i class="fa-brands fa-x-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/groups/39258/" target="blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
    <ng-content></ng-content>
    <p class="copy-right">
      {{year}} — Famous Company.
    </p>
  </footer>
